.primary-btn {
  background-color: var(--primary-green);
  border: none;
  border-radius: 5px;
  padding: var(--spacing-sm);
  margin: var(--spacing-md);
  font-family: nunito-bold;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.primary-btn:hover {
  background-color: var(--secondary-green);
}

@media only screen and (min-width: 750px) {
  .primary-btn {
    background-color: var(--secondary-green);
    border: 1px solid white;
    width: 300px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: var(--spacing-xl);
    margin-bottom: var(--spacing-xl);
  }
}
