.editor {
  margin-top: var(--spacing-lg);
  margin-left: var(--spacing-md);
}

.editor-btn {
  background-color: var(--primary-green);
  border: none;
  border-radius: 5px;
  padding-top: var(--spacing-xs);
  padding-bottom: var(--spacing-xs);
  padding-left: var(--spacing-sm);
  padding-right: var(--spacing-sm);
  font-family: nunito-bold;
  font-size: 14px;
  color: white;
  cursor: pointer;
  margin-top: var(--spacing-md);
  margin-left: var(--spacing-sm);
  margin-right: var(--spacing-sm);
}

.cancel-btn {
  background-color: var(--red);
  border: none;
  border-radius: 5px;
  padding-top: var(--spacing-xs);
  padding-bottom: var(--spacing-xs);
  padding-left: var(--spacing-sm);
  padding-right: var(--spacing-sm);
  font-family: nunito-bold;
  font-size: 14px;
  color: white;
  cursor: pointer;
  margin-top: var(--spacing-md);
  margin-right: var(--spacing-sm);
}
