.input {
  display: flex;
  border: 0.5px solid black;
  border-radius: 5px;
  width: 300px;
  padding: var(--spacing-xs);
  margin-top: var(--spacing-xs);
  margin-bottom: var(--spacing-sm);
  background-color: white;
}

.input img {
  padding-right: var(--spacing-sm);
  padding-left: var(--spacing-xs);
}

input {
  border: none;
  font-family: nunito;
  font-size: var(--standard);
  color: var(--grey);
}

textarea:focus,
input:focus {
  outline: none;
}

label {
  font-family: nunito;
  font-size: var(--standard);
  color: var(--grey);
}

@media only screen and (min-width: 750px) {
  .input {
    margin-top: var(--spacing-sm);
  }

  label {
    color: white;
  }
}
