.login--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login--left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-md);
}

h2 span {
  color: var(--secondary-green);
}

.login-title {
  display: none;
}

.login--form {
  display: flex;
  flex-direction: column;
}
