.login--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: var(--spacing-md);
}

.left--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: var(--spacing-md);
}

.right--content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 span {
  color: var(--secondary-green);
}

.login--secondary-title {
  display: none;
}

.login--form {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  border-bottom: 1px solid #64bc9d;
  padding-bottom: 4px;
}

a:visited {
  color: var(--primary-green);
}

.register-link {
  color: var(--primary-green);
  cursor: pointer;
}

@media only screen and (min-width: 750px) {
  .login--container {
    display: flex;
    flex-direction: row;
    justify-items: center;
  }

  .login--left {
    background-color: white;
    width: 50%;
    height: 100vh;
    padding-top: var(--spacing-xl);
  }

  .login--right {
    background-color: var(--primary-green);
    width: 50%;
    height: 100vh;
    padding-top: var(--spacing-xl);
  }

  .left--content {
    padding-top: var(--spacing-xl);
  }

  .right--content {
    padding-top: var(--spacing-xl);
  }

  .login--title {
    display: flex;
  }

  .login--left p {
    padding: var(--spacing-xl);
    max-width: 600px;
  }

  .login--title img {
    margin-left: var(--spacing-sm);
  }

  .login--secondary-title {
    display: block;
    margin: var(--spacing-md);
  }

  .login--form {
    margin-top: var(--spacing-xl);
  }

  .signup--tag {
    color: white;
  }

  a {
    color: white;
    border-bottom: 1px solid white;
  }
  a:visited {
    color: white;
  }
}

@media only screen and (min-width: 1250px) {
  .login--title img {
    margin-top: var(--spacing-md);
    margin-left: var(--spacing-xl);
  }
}
