.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-md);
}

.logo-lg {
  display: none;
}

.nav-logo {
  display: flex;
}

.nav h1 {
  display: none;
}

.logout {
  display: flex;
  cursor: pointer;
}

.logout-btn {
  border: none;
  border-radius: 5px;
  padding: var(--spacing-sm);
  font-family: carme;
  font-size: 18px;
  color: var(--light-grey);
}

@media only screen and (min-width: 750px) {
  .nav {
    padding-right: var(--spacing-lg);
    padding-left: var(--spacing-lg);
    padding-top: var(--spacing-sm);
    align-items: flex-start;
  }
  .nav h1 {
    display: block;
    margin-left: var(--spacing-lg);
  }

  .logo-lg {
    display: block;
  }

  .logo-sm {
    display: none;
  }

  .logout-btn {
    margin: var(--spacing-md);
  }
}
