:root {
  /* colours */
  --primary-green: #64bc9d;
  --secondary-green: #50cfa2;
  --navy: #64798a;
  --grey: #757575;
  --light-grey: #757575;
  --red: #ff8181;

  /* typography */
  --heading-alpha: 64px;
  --heading-bravo: 24px;
  --heading-charlie: 36px;
  --standard: 16px;

  /* spacing */

  --spacing-xl: 40px;
  --spacing-lg: 30px;
  --spacing-md: 20px;
  --spacing-sm: 10px;
  --spacing-xs: 5px;
  --font-spacing: 12px;
}
