@font-face {
  font-family: carme;
  src: url('../assets/fonts/Carme-Regular.ttf') format('truetype');
}

@font-face {
  font-family: nunito-bold;
  src: url('../assets/fonts/Nunito-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: nunito;
  src: url('../assets/fonts/Nunito-Regular.ttf') format('truetype');
}

.heading--alpha {
  font-family: carme;
  font-size: var(--heading-alpha);
  color: var(--navy);
}
