@font-face {
  font-family: carme;
  src: url('../assets/fonts/Carme-Regular.ttf') format('truetype');
}

@font-face {
  font-family: nunito-bold;
  src: url('../assets/fonts/Nunito-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: nunito;
  src: url('../assets/fonts/Nunito-Regular.ttf') format('truetype');
}

.heading--alpha {
  font-family: carme;
  font-size: var(--heading-alpha);
  color: var(--navy);
}

.heading--bravo {
  font-family: carme;
  font-size: var(--heading-bravo);
  color: var(--navy);
  margin-top: var(--spacing-md);
  margin-bottom: var(--spacing-md);
}

.heading--charlie {
  font-family: nunito-bold;
  font-size: var(--heading-charlie);
  color: white;
}

p {
  font-family: nunito;
  font-size: var(--standard);
  color: var(--grey);
  text-align: center;
}
